### District Summary

* Create a high level snapshot (in table form) of the district's key metrics, including:
  * Total Schools
  * Total Students
  * Total Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [1]:
# import dependencies 
import pandas as pd

In [2]:
# create path for file to load
schools_file = "./Resources/schools_complete.csv"
students_file = "./Resources/students_complete.csv"

# read csv and store in Pandas DataFrame 
schools_df = pd.read_csv(schools_file)
students_df = pd.read_csv(students_file)

In [3]:
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Calculate the total of schools in the Schools DataFrame
schools_total = len(schools_df["school_name"].unique())
schools_total

15

In [6]:
# Calculate the total of students in the schools DataFrame 
students_total = len(students_df["Student ID"].unique())
students_total

39170

In [7]:
# Calculate the Total Budget 
budget_total = schools_df["budget"].sum()
budget_total

24649428

In [8]:
# Calculate the Average Math Score 
avg_math_score = round(students_df["math_score"].mean())
avg_math_score

79

In [9]:
#Calculate the Average Math Score 
avg_reading_score = round(students_df["reading_score"].mean())
avg_reading_score

82

In [10]:
#Find total of Students Passing Math (>69)
passing_math_ttl = students_df.loc[students_df["math_score"]>69].count()["student_name"]

# Calculate % of Students Passing Math 
passing_math_pct = (passing_math_ttl/students_total)
passing_math_pct

0.749808526933878

In [11]:
#Find total of Students Passing Reading (>69)
passing_reading_ttl = students_df.loc[students_df["reading_score"]>69].count()["student_name"]

# Calculate % of Students Passing Reading 
passing_reading_pct =(passing_reading_ttl/students_total)
passing_reading_pct

0.8580546336482001

In [12]:
# Calculate Overall Passing Rate (Average of the above two)
overall_passing = (passing_math_pct + passing_reading_pct)/2
overall_passing

0.8039315802910391

In [13]:
# Create District Summary DataFrame using calculation to create a table showing a "high level snapshot"
district_summary = pd.DataFrame ({"Total Schools":[schools_total],
                           "Total Student":[students_total],
                           "Total Budget":[budget_total],
                            "Average Math Score":[avg_math_score],
                            "Average Reading Score":[avg_reading_score],
                            "% Passing Math":[passing_math_pct],
                            "% Passing Reading":[passing_reading_pct],
                            "Overall Passing Rate":[overall_passing]})
# Format Results in Table accordingly 
district_summary = district_summary.style.format({
    'Total Student': '{:,.0f}'.format,
    'Total Budget':'${:,.0f}'.format,
    '% Passing Math': '{:,.0%}'.format,
    '% Passing Reading': '{:,.0%}'.format,
    'Overall Passing Rate': '{:,.0%}'.format})
   
district_summary

### School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [14]:
# Merge the two dataframes using full outer join
merged_data = pd.merge(students_df, schools_df, how = "left" , on= ["school_name"])
merged_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [15]:
# Find Type using set_index
school_types = schools_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [16]:
# Find Total Of Students per School using merged data value_counts
students_per_sch = (merged_data["school_name"].value_counts()).map("{:,.0f}".format)
students_per_sch

Bailey High School       4,976
Johnson High School      4,761
Hernandez High School    4,635
Rodriguez High School    3,999
Figueroa High School     2,949
Huang High School        2,917
Ford High School         2,739
Wilson High School       2,283
Cabrera High School      1,858
Wright High School       1,800
Shelton High School      1,761
Thomas High School       1,635
Griffin High School      1,468
Pena High School           962
Holden High School         427
Name: school_name, dtype: object

In [17]:
# Find Budget using groupby mean of budget column
school_budget = merged_data.groupby(["school_name"]).mean()["budget"].map("${:,.0f}".format)
school_budget

school_name
Bailey High School       $3,124,928
Cabrera High School      $1,081,356
Figueroa High School     $1,884,411
Ford High School         $1,763,916
Griffin High School        $917,500
Hernandez High School    $3,022,020
Holden High School         $248,087
Huang High School        $1,910,635
Johnson High School      $3,094,650
Pena High School           $585,858
Rodriguez High School    $2,547,363
Shelton High School      $1,056,600
Thomas High School       $1,043,130
Wilson High School       $1,319,574
Wright High School       $1,049,400
Name: budget, dtype: object

In [18]:
# Find Budget_Per_Student using school budget divided by # students per school 
student_budget = ((merged_data.groupby(["school_name"]).mean()["budget"]) 
                /(merged_data["school_name"].value_counts())).map("${:,.0f}".format)
school_budget
student_budget

Bailey High School       $628
Cabrera High School      $582
Figueroa High School     $639
Ford High School         $644
Griffin High School      $625
Hernandez High School    $652
Holden High School       $581
Huang High School        $655
Johnson High School      $650
Pena High School         $609
Rodriguez High School    $637
Shelton High School      $600
Thomas High School       $638
Wilson High School       $578
Wright High School       $583
dtype: object

In [30]:
# Find the Average Math Score for each school using groupby mean of math score column
avg_math = merged_data.groupby(["school_name"]).mean()["math_score"].map("{:,.0f}".format)
avg_math

school_name
Bailey High School       77
Cabrera High School      83
Figueroa High School     77
Ford High School         77
Griffin High School      83
Hernandez High School    77
Holden High School       84
Huang High School        77
Johnson High School      77
Pena High School         84
Rodriguez High School    77
Shelton High School      83
Thomas High School       83
Wilson High School       83
Wright High School       84
Name: math_score, dtype: object

In [31]:
# Find the Average Reading Score for each school using groupby mean of reading score column
#avg_read = school_groupby["reading_score"].mean()
avg_read = merged_data.groupby(["school_name"]).mean()["reading_score"].map("{:,.0f}".format)
avg_read

school_name
Bailey High School       81
Cabrera High School      84
Figueroa High School     81
Ford High School         81
Griffin High School      84
Hernandez High School    81
Holden High School       84
Huang High School        81
Johnson High School      81
Pena High School         84
Rodriguez High School    81
Shelton High School      84
Thomas High School       84
Wilson High School       84
Wright High School       84
Name: reading_score, dtype: object

In [48]:
#Find total of Students Passing Math (>69)
passing_math = (merged_data[merged_data["math_score"]>69].groupby('school_name')['Student ID'].count()
              / (merged_data["school_name"].value_counts())).map("{:,.0%}".format)
# Took format off for overall passing calculation
math_unformatted = (merged_data[merged_data["math_score"]>69].groupby('school_name')['Student ID'].count()
              / (merged_data["school_name"].value_counts()))
passing_math

Bailey High School       67%
Cabrera High School      94%
Figueroa High School     66%
Ford High School         68%
Griffin High School      93%
Hernandez High School    67%
Holden High School       93%
Huang High School        66%
Johnson High School      66%
Pena High School         95%
Rodriguez High School    66%
Shelton High School      94%
Thomas High School       93%
Wilson High School       94%
Wright High School       93%
dtype: object

In [41]:
#Find total of Students Passing Reading (>69)
passing_read = (merged_data[merged_data["reading_score"]>69].groupby('school_name')['Student ID'].count()
              / (merged_data["school_name"].value_counts())).map("{:,.0%}".format)
# Took format off for overall passing calculation
read_unformatted = (merged_data[merged_data["reading_score"]>69].groupby('school_name')['Student ID'].count()
              / (merged_data["school_name"].value_counts()))
passing_read

Bailey High School       82%
Cabrera High School      97%
Figueroa High School     81%
Ford High School         79%
Griffin High School      97%
Hernandez High School    81%
Holden High School       96%
Huang High School        81%
Johnson High School      81%
Pena High School         96%
Rodriguez High School    80%
Shelton High School      96%
Thomas High School       97%
Wilson High School       97%
Wright High School       97%
dtype: object

In [53]:
# Calculate Overall Passing Rate (Average of the above two)

#overall_pass = (merged_data[merged_data["math_score"]>69].groupby('school_name')['Student ID'].count()/(merged_data["school_name"].value_counts()))+(merged_data[merged_data["reading_score"]>69].groupby('school_name')['Student ID'].count()/(merged_data["school_name"].value_counts())).map("{:,.0%}".format)
overall_pass = ((math_unformatted + read_unformatted) / 2).map("{:,.2%}".format)               
overall_pass

Bailey High School       74.31%
Cabrera High School      95.59%
Figueroa High School     73.36%
Ford High School         73.80%
Griffin High School      95.27%
Hernandez High School    73.81%
Holden High School       94.38%
Huang High School        73.50%
Johnson High School      73.64%
Pena High School         95.27%
Rodriguez High School    73.29%
Shelton High School      94.86%
Thomas High School       95.29%
Wilson High School       95.20%
Wright High School       94.97%
dtype: object

In [54]:
# Create School Summary DataFrame using above calculations to create an overview table 
school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": students_per_sch,
                                   "School Budget": school_budget,
                                   "Per Student Budget" :student_budget,
                                   "Avg Math Score": avg_math,
                                   "Avg Reading Score": avg_read,
                                   "% Passing Math": passing_math,
                                   "% Passing Reading": passing_read,
                                   "Overall Passing": overall_pass})  
school_summary

,School Type,Total Students,School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing
Bailey High School,District,"4,976","$3,124,928",$628,77,81,67%,82%,74.31%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83,84,94%,97%,95.59%
Figueroa High School,District,"2,949","$1,884,411",$639,77,81,66%,81%,73.36%
Ford High School,District,"2,739","$1,763,916",$644,77,81,68%,79%,73.80%
Griffin High School,Charter,"1,468","$917,500",$625,83,84,93%,97%,95.27%
Hernandez High School,District,"4,635","$3,022,020",$652,77,81,67%,81%,73.81%
Holden High School,Charter,427,"$248,087",$581,84,84,93%,96%,94.38%
Huang High School,District,"2,917","$1,910,635",$655,77,81,66%,81%,73.50%
Johnson High School,District,"4,761","$3,094,650",$650,77,81,66%,81%,73.64%
Pena High School,Charter,962,"$585,858",$609,84,84,95%,96%,95.27%
Rodriguez High School,District,"3,999","$2,547,363",$637,77,81,66%,80%,73.29%
Shelton High School,Charter,"1,761","$1,056,600",$600,83,84,94%,96%,94.86%
Thomas High School,Charter,"1,635","$1,043,130",$638,83,84,93%,97%,95.29%
Wilson High School,Charter,"2,283","$1,319,574",$578,83,84,94%,97%,95.20%
Wright High School,Charter,"1,800","$1,049,400",$583,84,84,93%,97%,94.97%

### Top Performing Schools (By Passing Rate)

* Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [55]:
# Sort Overall Passing Column values in descending order 
top_five = school_summary.sort_values("Overall Passing", ascending = False)
top_five.head(5)

,School Type,Total Students,School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356",$582,83,84,94%,97%,95.59%
Thomas High School,Charter,"1,635","$1,043,130",$638,83,84,93%,97%,95.29%
Griffin High School,Charter,"1,468","$917,500",$625,83,84,93%,97%,95.27%
Pena High School,Charter,962,"$585,858",$609,84,84,95%,96%,95.27%
Wilson High School,Charter,"2,283","$1,319,574",$578,83,84,94%,97%,95.20%

### Bottom Performing Schools (By Passing Rate)

* Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate. Include all of the same metrics as above.

In [56]:
# Sort Overall Passing Column values in ascending order 
top_five = school_summary.sort_values("Overall Passing", ascending = True)
top_five.head(5)

,School Type,Total Students,School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing
Rodriguez High School,District,"3,999","$2,547,363",$637,77,81,66%,80%,73.29%
Figueroa High School,District,"2,949","$1,884,411",$639,77,81,66%,81%,73.36%
Huang High School,District,"2,917","$1,910,635",$655,77,81,66%,81%,73.50%
Johnson High School,District,"4,761","$3,094,650",$650,77,81,66%,81%,73.64%
Ford High School,District,"2,739","$1,763,916",$644,77,81,68%,79%,73.80%

### Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [93]:
# Find Average Math Scores for each grade level at each school 
# Use .loc to find grade, use .groupby to group by each school, use .mean to find the Average Math Score
math_9th = merged_data.loc[merged_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
math_9th

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [94]:
# Repeat above for each grade 
math_10th = merged_data.loc[merged_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
math_11th = merged_data.loc[merged_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
math_12th = merged_data.loc[merged_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()

In [95]:
# Create Summary DataFrame using above calculations to create a table 

math_scores_by_grade = pd.DataFrame ({"9th Grade": math_9th,
                           "10th Grade": math_10th,
                           "11th Grade": math_11th,
                            "12th Grade": math_12th})

# Format Results to limit decimal places 
math_scores_by_grade = math_scores_by_grade.style.format({
                           "9th Grade": '{:,.2f}'.format,
                           "10th Grade":'{:,.2f}'.format,
                           "11th Grade": '{:,.2f}'.format,
                           "12th Grade": '{:,.2f}'.format,})
   
math_scores_by_grade

### Reading Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [96]:
# Use .loc to find grade, use .groupby to group by each school, use .mean to find the Average Reading Score
# Repeat for each grade 

reading_9th = merged_data.loc[merged_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()

reading_10th = merged_data.loc[merged_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()

reading_11th = merged_data.loc[merged_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()

reading_12th = merged_data.loc[merged_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

In [97]:
# Create Summary DataFrame using above calculations to create a table 

reading_scores_by_grade = pd.DataFrame ({"9th Grade": reading_9th,
                           "10th Grade": reading_10th,
                           "11th Grade": reading_11th,
                            "12th Grade": reading_12th})

# Format Results to limit decimal places 
reading_scores_by_grade = reading_scores_by_grade.style.format({
                           "9th Grade": '{:,.2f}'.format,
                           "10th Grade":'{:,.2f}'.format,
                           "11th Grade": '{:,.2f}'.format,
                           "12th Grade": '{:,.2f}'.format,})
   
reading_scores_by_grade

### Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)